In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#features.csv patient_notes.csv sample_submission.csv test.csv train.csv

df = pd.read_csv("/Users/nikhilbansal/Documents/Coding/Python/data/nbme-score-clinical-patient/train.csv")
df_feature = pd.read_csv("/Users/nikhilbansal/Documents/Coding/Python/data/nbme-score-clinical-patient/features.csv")
df_pn = pd.read_csv("/Users/nikhilbansal/Documents/Coding/Python/data/nbme-score-clinical-patient/patient_notes.csv")

## Process

Test taker documents relevant facts in Patient note

Patient Note scored by trained physican as per presence of concepts in Features

In [3]:
#pd.set_option("display.max_rows", None)
df.feature_num.value_counts()

0      100
213    100
908    100
916    100
5      100
      ...
506    100
514    100
602    100
610    100
911    100
Name: feature_num, Length: 143, dtype: int64

In [4]:
#sns.displot(data=df,x="feature_num")
df.feature_num.describe()

count    14300.000000
mean       466.440559
std        292.315326
min          0.000000
25%        209.000000
50%        502.000000
75%        708.000000
max        916.000000
Name: feature_num, dtype: float64

In [5]:
df[df['feature_num']==5]

,id,case_num,pn_num,feature_num,annotation,location
5,00016_005,0,16,5,[],[]
18,00041_005,0,41,5,[],[]
31,00046_005,0,46,5,['has not had any cold/heat intolerance'],['582 619']
44,00082_005,0,82,5,[],[]
57,00100_005,0,100,5,[],[]
...,...,...,...,...,...,...
1240,02315_005,0,2315,5,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1266,02428_005,0,2428,5,['denies sweating'],['217 223;224 232']
1279,02430_005,0,2430,5,[],[]
1292,02436_005,0,2436,5,[],[]

In [6]:
df.annotation.describe()

count     14300
unique     5201
top          []
freq       4399
Name: annotation, dtype: object

In [7]:
## 31	00046_005	0	46	5	['has not had any cold/heat intolerance']	['582 619']

619-582

37

In [8]:
annotation_text="has not had any cold/heat intolerance"
len(annotation_text)

37

In [9]:
df_pn[df_pn.pn_num==46]
df_pn.pn_history[45]

'Mr. Cleveland is a 17yo M who was consented by parents to be alone today and provide information.  He has no notable PMH and presented today with palpitations that have been occurring sporadically for 2-3 months.  He started college 7-8 months ago and described feelings of nervousness and anxiousness with starting school and exams.  He endorses using his roommates prescription adderall to study for tests and this coincides with the palpitations at times.  Nothing makes his palpitations worse or better when they occur.  ROS is negative except for light headedness and SOB.  He has not had any cold/heat intolerance, diarrhea, changes in voiding habits, or weight loss.  Worried about being able to play basketball.\r\n\r\nMeds:  Adderall from his roommate\r\nPMH:  none\r\nPSH:  none\r\nAll:  NKDA\r\nFamily:  mom: thyroid issues, father: heart attack\r\nsocial:  no tob, occ EtOH, no illicits\r\nsex:  with gf, use condoms\r\ndiet:  good\r\nexercise:  basketball'

In [10]:
##1266	02428_005	0	2428	5	['denies sweating']	['217 223;224 232']

# Check patient notes 2428
df_pn[df_pn.pn_num==2428]

      pn_num  case_num                                         pn_history
2244    2428         0  dillon cleveland is a 17yo male with no PMH th...

In [11]:
df_pn.pn_history[2244]

'dillon cleveland is a 17yo male with no PMH that comes in with palpitations. the last time he felt them, about 2 days ago, he also felt short of breath and some chest pressure, and like he was going to "pass out". he denies sweating, loss of consciousness, he says these palpitations happen a couple times a month and have been going on for a few months. he does not associate any pattern with when the palpitations happen. the only medication he takes is adderall a few times a week that he gets from his roommate. his family history consists of his mother with a thyroid problem and his father who had a heart attack at age 52. he does not smoke, drinks 3-4 beers on the weekends, and used marijuana once.'

In [12]:
df_feature.feature_text[5]

'No-hair-changes-OR-no-nail-changes-OR-no-temperature-intolerance'

In [13]:
df[df.pn_num==16]

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']
5,00016_005,0,16,5,[],[]
6,00016_006,0,16,6,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']"
7,00016_007,0,16,7,[],[]
8,00016_008,0,16,8,[],[]
9,00016_009,0,16,9,"['palpitations', 'heart beating/pounding']","['26 38', '96 118']"
10,00016_010,0,16,10,['3-4 months of'],['56 69']
11,00016_011,0,16,11,['17yo'],['5 9']
12,00016_012,0,16,12,['M'],['10 11']

In [16]:
df_feature.feature_num.value_counts()

0      1
812    1
405    1
406    1
407    1
      ..
600    1
601    1
602    1
603    1
511    1
Name: feature_num, Length: 143, dtype: int64

In [20]:
df_feature

     feature_num  case_num                                       feature_text
0              0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1              1         0                 Family-history-of-thyroid-disorder
2              2         0                                     Chest-pressure
3              3         0                              Intermittent-symptoms
4              4         0                                        Lightheaded
..           ...       ...                                                ...
138          912         9                        Family-history-of-migraines
139          913         9                                             Female
140          914         9                                        Photophobia
141          915         9                          No-known-illness-contacts
142          916         9                                   Subjective-fever

[143 rows x 3 columns]